services:
  app:
    build:
      context: .
      args:
        - VITE_API_URL=${VITE_API_URL}
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.timetracker.rule=Host(`time.christiansmith.live`)
      - traefik.http.routers.timetracker.entrypoints=websecure
      - traefik.http.routers.timetracker.tls.certresolver=letsencrypt
      - traefik.http.services.timetracker.loadbalancer.server.port=80
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
